In [1]:
import pandas as pd
import functions as fun

# First of all, we clean the dataframe extracted from the API

In [2]:
df = pd.read_pickle("../Data/df.pkl")

We keep the columns we need and we delete the rest

In [3]:
df = df[["gender", "nobelPrizes", "knownName.en", "birth.place.country.en", "birth.date"]]
nobel = df["nobelPrizes"]

From the nobelPrizes column, I extract the Award Year and I create a new column with the information inside

In [4]:
fun.get_year(nobel, df, "AwardYear", "awardYear")

From the nobelPrizes column, I extract the category of each award

In [5]:
fun.get_info(df, nobel, "Category", "category")

From the nobelPrizes column, I extract the motivation of the award; despite it is not necesary, I found it interesting

In [6]:
fun.get_info(df, nobel, "Theme", "motivation")

Then we rename some of the columns of de df, in order to simplify its reading

In [7]:
fun.rename_columns(df, "knownName.en", "Name")
fun.rename_columns(df,"birth.place.country.en", "Country")
fun.rename_columns(df,"birth.date", "Birth")

After extracting all the usefull information, we delete the nobelPrizes column

In [8]:
fun.drop_column(df, "nobelPrizes")

We get the birth date of each awarded only by year

In [9]:
fun.getting_birth(df, "Birth")

We sort the df by the award year and reset the index

In [10]:
fun.sort_reset(df)

Finally we delete some few rows with Nan values

In [11]:
fun.drop_nan(df)

In [13]:
df.to_csv("../data/df.csv", index=False)
df

,gender,Name,Country,Birth,AwardYear,Category,Theme
0,male,Henry Dunant,Switzerland,1828,1901,Peace,for his humanitarian efforts to help wounded s...
1,male,Wilhelm Conrad Röntgen,Prussia,1845,1901,Physics,in recognition of the extraordinary services h...
2,male,Jacobus H. van 't Hoff,the Netherlands,1852,1901,Chemistry,in recognition of the extraordinary services h...
3,male,Sully Prudhomme,France,1839,1901,Literature,in special recognition of his poetic compositi...
4,male,Emil von Behring,Prussia,1854,1901,Physiology or Medicine,"for his work on serum therapy, especially its ..."
...,...,...,...,...,...,...,...
949,female,Annie Ernaux,France,1940,2022,Literature,for the courage and clinical acuity with which...
950,female,Carolyn Bertozzi,USA,1966,2022,Chemistry,for the development of click chemistry and bio...
951,male,John Clauser,USA,1942,2022,Physics,"for experiments with entangled photons, establ..."
952,male,Alain Aspect,France,1947,2022,Physics,"for experiments with entangled photons, establ..."
953,male,Morten Meldal,Denmark,1954,2022,Chemistry,for the development of click chemistry and bio...