In [1]:
import pandas as pd
import os
from dotenv import load_dotenv
from pandas import json_normalize
import json
import requests

In [2]:
df3 = pd.read_csv("../Data/Pisa report 2013 - 2015.csv")

df3.columns

Index(['Country Name', 'Country Code', 'Series Name', 'Series Code',
       '2013 [YR2013]', '2014 [YR2014]', '2015 [YR2015]'],
      dtype='object')

In [3]:
df3 = df3.dropna()
df3["Series Code"].value_counts()

LO.PISA.MAT       129
LO.PISA.MAT.FE    129
LO.PISA.MAT.MA    129
LO.PISA.REA       129
LO.PISA.REA.FE    129
LO.PISA.REA.MA    129
LO.PISA.SCI       129
LO.PISA.SCI.FE    129
LO.PISA.SCI.MA    129
Name: Series Code, dtype: int64

In [4]:
def delete_rows(column, value):
    df3.drop(df3.loc[df3[column]==value].index, inplace=True)
    return

In [5]:
delete_rows('Series Code', "LO.PISA.MAT.FE" )
delete_rows('Series Code', "LO.PISA.MAT.MA" )
delete_rows('Series Code', "LO.PISA.REA.FE" )
delete_rows('Series Code', "LO.PISA.REA.MA" )
delete_rows('Series Code', "LO.PISA.SCI.FE" )
delete_rows('Series Code', "LO.PISA.SCI.MA" )

In [6]:
df3["Series Code"].value_counts()

LO.PISA.MAT    129
LO.PISA.REA    129
LO.PISA.SCI    129
Name: Series Code, dtype: int64

In [7]:
# df3.to_csv("../data/df3.csv", index=False)

In [13]:
def delete_rows_country(column):
    for i in Countries:
        if i not in column:
            df3.drop(df3.loc[df3[column]==i].index, inplace=True)
    df3.reset_index(drop=True, inplace=True)
    return
Countries= ['Albania', 'Algeria', 'Argentina', 'Armenia', 'Azerbaijan', 'Bahrain', 'Belize', 'Benin', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cameroon', 'Chad', 'Chile', 'Colombia', 'Comoros', 'Congo, Rep.', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Dominican Republic', 'Ecuador', 'Egypt, Arab Rep.', 'El Salvador', 'Ethiopia', 'Gabon', 'Georgia', 'Ghana', 'Greece', 'Guatemala', 'Guyana', 'Honduras', 'Hungary', 'Indonesia', 'Iran, Islamic Rep.', 'Jordan', 'Kazakhstan', 'Kenya', 'Kuwait', 'Kyrgyz Republic', 'Latvia', 'Lebanon', 'Lesotho', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macao SAR, China', 'Macedonia, FYR', 'Madagascar', 'Malawi', 'Malaysia', 'Mali', 'Malta', 'Mauritius', 'Moldova', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Namibia', 'Nicaragua', 'Niger', 'Oman', 'Panama', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Qatar', 'Rwanda', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Slovak Republic', 'Slovenia', 'South Africa', 'Swaziland', 'Syrian Arab Republic', 'Tanzania', 'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Uganda', 'Ukraine', 'United Arab Emirates', 'Venezuela, RB', 'Vietnam', 'Yemen, Rep.', 'Zambia', 'Zimbabwe']

In [14]:
delete_rows_country("Country Name")

In [15]:

def drop_column(datfr, column):
    datfr = datfr.drop([column], axis = 1, inplace=True)
    return

In [ ]:
drop_column(df3,"2013 [YR2013]")
drop_column(df3,"2014 [YR2014]")

In [ ]:
def sort_reset(dfr, column):
    dfr.sort_values(by = [column], inplace = True, ascending = False)
    dfr.reset_index(drop=True, inplace=True)
    return

In [ ]:
sort_reset(df3, "2015 [YR2015]")
df3