In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re

First, we introduce the URL of the page where we would like to get the data from

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_countries_by_largest_historical_GDP"
# url = "https://countryeconomy.com/gdp?year=1990"

In [3]:
res = requests.get(url)
html = res.content
soup = BeautifulSoup(html, "html.parser")
# soup

We use beautifulSoup to find all the elements of the tag and class we need

In [4]:
countries = soup.find_all("table",{"class":"wikitable"})[0]

Next, we use find_all in all the rows and split the result

In [5]:
rows = countries.find_all('tr')
rows = [row.text.strip().split("\n") for row in rows]
rows[1]

['2020',
 '',
 '\xa0United States20,936.600',
 '',
 '\xa0China14,772.731',
 '',
 '\xa0Japan5,064.873',
 '',
 '\xa0Germany3,806.060',
 '',
 '\xa0United Kingdom2,707.744',
 '',
 '\xa0India2,622.984',
 '',
 '\xa0France2,603.004',
 '',
 '\xa0Italy1,886.445',
 '',
 '\xa0Canada1,643.408',
 '',
 '\xa0South Korea1,630.525']

In [6]:
def compact(lst):
    return list(filter(None, lst))

In [7]:
colnames = rows[0]
data = rows[1:]
df2 = pd.DataFrame(data, columns=colnames)
df2.set_index("Year", inplace=True)
df2.rename(columns = {"1st highlighter": "1st"}, inplace=True)
compact(df2)

['1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th']

In [8]:

# df2.to_csv("../Data/df2.csv")

We use regex to get the values that we need on each column

In [1]:
def n_column(column1, columnn):  
    pattern1 = "\d{1,3}[\,\.]\d{1,3}[\,\.]\d{1,3}|\d{1,3}[\,\.]\d{1,3}"
    pattern2 = "[a-zA-Z]+"
    df2[columnn] = df2[column1].apply(lambda x: re.findall(pattern1, str(x))).apply(lambda x: ' '.join(x))
    df2[column1] = df2[column1].apply(lambda x: re.findall(pattern2, str(x))).apply(lambda x: ' '.join(x))
    return

We change the names of the columns

In [13]:
n_column("1st","1st_GDP")
n_column("2nd","2nd_GDP")
n_column("3rd","3rd_GDP")
n_column("4th","4th_GDP")
n_column("5th","5th_GDP")
n_column("6th","6th_GDP")
n_column("7th","7th_GDP")
n_column("8th","8th_GDP")
n_column("9th","9th_GDP")
n_column("10th","10th_GDP")

,1st,1st_GDP,2nd,2nd_GDP,3rd,3rd_GDP,4th,4th_GDP,5th,5th_GDP,6th,6th_GDP,7th,7th_GDP,8th,8th_GDP,9th,9th_GDP,10th,10th_GDP
Year,,,,,,,,,,,,,,,,,,,,
2020,United States,,China,,Japan,,Germany,,United Kingdom,,India,,France,,Italy,,Canada,,South Korea,
2015,United States,,China,,Japan,,Germany,,United Kingdom,,France,,India,,Italy,,Brazil,,Canada,
2010,United States,,China,,Japan,,Germany,,France,,United Kingdom,,Brazil,,Italy,,India,,Russia,
2005,United States,,Japan,,Germany,,United Kingdom,,China,,France,,Italy,,Canada,,Spain,,South Korea,
2000,United States,,Japan,,Germany,,United Kingdom,,France,,China,,Italy,,Canada,,Mexico,,Brazil,
1995,United States,,Japan,,Germany,,France,,United Kingdom,,Italy,,Brazil,,China,,Spain,,Canada,
1990,United States,,Japan,,Soviet Union,,West Germany,,France,,Italy,,United Kingdom,,Mexico,,Brazil,,Canada,
1985,United States,,Soviet Union,,Japan,,West Germany,,France,,United Kingdom,,Italy,,Canada,,China,,India,
1980,United States,,Soviet Union,,Japan,,West Germany,,France,,United Kingdom,,Italy,,Canada,,Brazil,,China,
1975,United States,,Soviet Union,,Japan,,West Germany,,France,,United Kingdom,,Italy,,Canada,,China,,Brazil,
1970,United States,,Soviet Union,,Japan,,West Germany,,France,,United Kingdom,,Italy,,China,,Canada,,India,
1965,United States,,Soviet Union,,West Germany,,France,,United Kingdom,,Japan,,China,,Italy,,India,,Canada,
1960,United States,,Soviet Union,,West Germany,,United Kingdom,,France,,China,,Japan,,Canada,,Italy,,India,

In [11]:
df2 =  df2[["1st","1st_GDP", "2nd","2nd_GDP","3rd","3rd_GDP","4th","4th_GDP", "5th","5th_GDP","6th","6th_GDP","7th","7th_GDP","8th","8th_GDP","9th","9th_GDP","10th","10th_GDP"]]

,1st,1st_GDP,2nd,2nd_GDP,3rd,3rd_GDP,4th,4th_GDP,5th,5th_GDP,6th,6th_GDP,7th,7th_GDP,8th,8th_GDP,9th,9th_GDP,10th,10th_GDP
Year,,,,,,,,,,,,,,,,,,,,
2020,United States,"20,936.600",China,"14,772.731",Japan,"5,064.873",Germany,"3,806.060",United Kingdom,"2,707.744",India,"2,622.984",France,"2,603.004",Italy,"1,886.445",Canada,"1,643.408",South Korea,"1,630.525"
2015,United States,"18,036.650",China,"11,226.186",Japan,"4,382.420",Germany,"3,365.293",United Kingdom,"2,863.304",France,"2,420.163",India,"2,088.155",Italy,"1,825.820",Brazil,"1,801.482",Canada,"1,552.808"
2010,United States,"14,964.400",China,"5,812.464",Japan,"5,793.455",Germany,"3,309.668",France,"2,560.002",United Kingdom,"2,246.079",Brazil,"2,087.889",Italy,"2,051.412",India,"1,729.010",Russia,"1,638.463"
2005,United States,"13,093.700",Japan,"4,755.980",Germany,"2,866.308",United Kingdom,"2,511.165",China,"2,308.786",France,"2,207.450",Italy,"1,855.834",Canada,"1,169.467",Spain,"1,159.257",South Korea,898.137
2000,United States,"10,284.750",Japan,"4,887.301",Germany,"1,955.673",United Kingdom,"1,442.316",France,"1,327.964",China,"1,214.912",Italy,"1,145.109",Canada,742.319,Mexico,683.650,Brazil,655.454
1995,United States,"7,664.050",Japan,"5,450.805",Germany,"2,594.371",France,"1,611.198",United Kingdom,"1,320.618",Italy,"1,171.510",Brazil,786.479,China,736.870,Spain,612.413,Canada,604.034
1990,United States,"5,979.592",Japan,"3,659.540",Soviet Union,"1,600.000",West Germany,"1,592.710",France,"1,278.666",Italy,"1,177.063",United Kingdom,"1,093.997",Mexico,534.177,Brazil,533.945,Canada,533.920
1985,United States,"4,346.717",Soviet Union,"2,884.720",Japan,"1,401.006",West Germany,658.784,France,559.846,United Kingdom,534.244,Italy,458.982,Canada,364.771,China,312.616,India,237.618
1980,United States,"2,862.492",Soviet Union,"1,712.700",Japan,"1,099.695",West Germany,919.609,France,691.138,United Kingdom,536.369,Italy,459.829,Canada,268.893,Brazil,235.024,China,226.003
1975,United States,"1,688.900",Soviet Union,916.300,Japan,512.861,West Germany,474.790,France,355.608,United Kingdom,236.414,Italy,219.392,Canada,173.487,China,160.751,Brazil,115.880
1970,United States,"1,075.900",Soviet Union,543.400,Japan,209.071,West Germany,208.868,France,146.438,United Kingdom,124.800,Italy,109.257,China,91.273,Canada,87.734,India,62.494
1965,United States,712.082,Soviet Union,277.395,West Germany,,France,102.161,United Kingdom,100.596,Japan,90.950,China,69.709,Italy,67.978,India,60.599,Canada,53.910
1960,United States,520.531,Soviet Union,142.390,West Germany,,United Kingdom,72.328,France,61.552,China,61.378,Japan,44.307,Canada,41.093,Italy,40.385,India,36.604

In [12]:
# df2.to_csv("../Data/df2.csv")