In [1]:
import pandas as pd
import os
from dotenv import load_dotenv
from pandas import json_normalize
import json
import requests
import functions as fun
import warnings
warnings.filterwarnings('ignore')

# We are going to load the Pisa Report dataset with the result of the last years

In [2]:
pisa = pd.read_csv("../Data/Pisa report 2013 - 2015.csv")
pisa.columns

Index(['Country Name', 'Country Code', 'Series Name', 'Series Code',
       '2013 [YR2013]', '2014 [YR2014]', '2015 [YR2015]'],
      dtype='object')

As we can see on the dataset below, there are many NaN values and empty rows that we should clean

In [3]:
pisa

,Country Name,Country Code,Series Name,Series Code,2013 [YR2013],2014 [YR2014],2015 [YR2015]
0,Albania,ALB,PISA: Mean performance on the mathematics scale,LO.PISA.MAT,..,..,413.157
1,Albania,ALB,PISA: Mean performance on the mathematics scal...,LO.PISA.MAT.FE,..,..,417.750029482799
2,Albania,ALB,PISA: Mean performance on the mathematics scal...,LO.PISA.MAT.MA,..,..,408.545458736189
3,Albania,ALB,PISA: Mean performance on the reading scale,LO.PISA.REA,..,..,405.2588
4,Albania,ALB,PISA: Mean performance on the reading scale. F...,LO.PISA.REA.FE,..,..,434.639625546737
...,...,...,...,...,...,...,...
1161,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1162,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1163,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1164,Data from database: Education Statistics: Lear...,NaN,NaN,NaN,NaN,NaN,NaN
1165,Last Updated: 12/12/2016,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
pisa = pisa.dropna()
pisa["Series Code"].value_counts()

LO.PISA.MAT       129
LO.PISA.MAT.FE    129
LO.PISA.MAT.MA    129
LO.PISA.REA       129
LO.PISA.REA.FE    129
LO.PISA.REA.MA    129
LO.PISA.SCI       129
LO.PISA.SCI.FE    129
LO.PISA.SCI.MA    129
Name: Series Code, dtype: int64

We are going to delete all the empty rows on the dataset

In [5]:
fun.delete_rows(pisa, 'Series Code', "LO.PISA.MAT.FE" )
fun.delete_rows(pisa, 'Series Code', "LO.PISA.MAT.MA" )
fun.delete_rows(pisa, 'Series Code', "LO.PISA.REA.FE" )
fun.delete_rows(pisa, 'Series Code', "LO.PISA.REA.MA" )
fun.delete_rows(pisa, 'Series Code', "LO.PISA.SCI.FE" )
fun.delete_rows(pisa, 'Series Code', "LO.PISA.SCI.MA" )

In [6]:
pisa["Series Code"].value_counts()

LO.PISA.MAT    129
LO.PISA.REA    129
LO.PISA.SCI    129
Name: Series Code, dtype: int64

In [7]:
lis = ['Australia','Belgium','Brazil','Canada','China','Denmark','Estonia','Finland', 'France','Germany','Greece','Ireland','Italy', 'Japan','Korea, Rep.''Mexico','Netherlands' ,'New Zealand', 'Norway', 'Portugal', 'Russian Federation', 'Spain', 'Sweden', 'Switzerland', 'United Kingdom', 'United States', "URSS"]

We are going to keep only the rows for the countries that we are interested on.

In [8]:
fun.delete_rows_country(pisa,"Country Name", lis)

In [9]:
fun.drop_column(pisa,"2013 [YR2013]")
fun.drop_column(pisa,"2014 [YR2014]")
fun.rename_columns(pisa,"2015 [YR2015]", "2015")

In [10]:
fun.sort_reset(pisa, "2015")

In [11]:
pisa

,Country Name,Country Code,Series Name,Series Code,2015
0,Brazil,BRA,PISA: Mean performance on the mathematics scale,LO.PISA.MAT,377.0695
1,Brazil,BRA,PISA: Mean performance on the science scale,LO.PISA.SCI,400.6821
2,Brazil,BRA,PISA: Mean performance on the reading scale,LO.PISA.REA,407.3486
3,Greece,GRC,PISA: Mean performance on the mathematics scale,LO.PISA.MAT,453.6299
4,Greece,GRC,PISA: Mean performance on the science scale,LO.PISA.SCI,454.8288
...,...,...,...,...,...
64,Canada,CAN,PISA: Mean performance on the science scale,LO.PISA.SCI,527.7047
65,Finland,FIN,PISA: Mean performance on the science scale,LO.PISA.SCI,530.6612
66,Japan,JPN,PISA: Mean performance on the mathematics scale,LO.PISA.MAT,532.4399
67,Estonia,EST,PISA: Mean performance on the science scale,LO.PISA.SCI,534.1937
68,Japan,JPN,PISA: Mean performance on the science scale,LO.PISA.SCI,538.3948

Althought we are not going to keep the structure of the dataframe we are going to do a groupby method in order to have the top 5 and the last 5 countries by points

In [12]:
pisa.groupby(["Series Name", "Country Name"]).mean().sort_values(["2015"], ascending = False)

                                                                  2015
Series Name                                     Country Name
PISA: Mean performance on the science scale     Japan         538.3948
                                                Estonia       534.1937
PISA: Mean performance on the mathematics scale Japan         532.4399
PISA: Mean performance on the science scale     Finland       530.6612
                                                Canada        527.7047
...                                                                ...
                                                Greece        454.8288
PISA: Mean performance on the mathematics scale Greece        453.6299
PISA: Mean performance on the reading scale     Brazil        407.3486
PISA: Mean performance on the science scale     Brazil        400.6821
PISA: Mean performance on the mathematics scale Brazil        377.0695

[69 rows x 1 columns]

In [14]:
pisa.to_csv("../data/cleaned_pisa_report.csv", index=False)