In [1]:
import pandas as pd
import os
from dotenv import load_dotenv
from pandas import json_normalize
import json
import requests

In [2]:
df3 = pd.read_csv("../Data/Pisa report 2013 - 2015.csv")

df3.columns

Index(['Country Name', 'Country Code', 'Series Name', 'Series Code',
       '2013 [YR2013]', '2014 [YR2014]', '2015 [YR2015]'],
      dtype='object')

In [3]:
df3 = df3.dropna()
df3["Series Code"].value_counts()

LO.PISA.MAT       129
LO.PISA.MAT.FE    129
LO.PISA.MAT.MA    129
LO.PISA.REA       129
LO.PISA.REA.FE    129
LO.PISA.REA.MA    129
LO.PISA.SCI       129
LO.PISA.SCI.FE    129
LO.PISA.SCI.MA    129
Name: Series Code, dtype: int64

In [4]:
def delete_rows(column, value):
    df3.drop(df3.loc[df3[column]==value].index, inplace=True)
    return

In [5]:
delete_rows('Series Code', "LO.PISA.MAT.FE" )
delete_rows('Series Code', "LO.PISA.MAT.MA" )
delete_rows('Series Code', "LO.PISA.REA.FE" )
delete_rows('Series Code', "LO.PISA.REA.MA" )
delete_rows('Series Code', "LO.PISA.SCI.FE" )
delete_rows('Series Code', "LO.PISA.SCI.MA" )

In [6]:
df3["Series Code"].value_counts()

LO.PISA.MAT    129
LO.PISA.REA    129
LO.PISA.SCI    129
Name: Series Code, dtype: int64

In [7]:
# df3.to_csv("../data/df3.csv", index=False)

In [13]:
def delete_rows_country(column):
    for i in Countries:
        if i not in column:
            df3.drop(df3.loc[df3[column]==i].index, inplace=True)
    df3.reset_index(drop=True, inplace=True)
    return

In [14]:
delete_rows_country("Country Name")

In [16]:

def drop_column(datfr, column):
    datfr = datfr.drop([column], axis = 1, inplace=True)
    return

In [17]:
drop_column(df3,"2013 [YR2013]")
drop_column(df3,"2014 [YR2014]")

In [18]:
def sort_reset(dfr, column):
    dfr.sort_values(by = [column], inplace = True, ascending = False)
    dfr.reset_index(drop=True, inplace=True)
    return

In [19]:
sort_reset(df3, "2015 [YR2015]")
df3

,Country Name,Country Code,Series Name,Series Code,2015 [YR2015]
0,Singapore,SGP,PISA: Mean performance on the mathematics scale,LO.PISA.MAT,564.1897
1,Singapore,SGP,PISA: Mean performance on the science scale,LO.PISA.SCI,555.5747
2,"Hong Kong SAR, China",HKG,PISA: Mean performance on the mathematics scale,LO.PISA.MAT,547.931
3,Japan,JPN,PISA: Mean performance on the science scale,LO.PISA.SCI,538.3948
4,Singapore,SGP,PISA: Mean performance on the reading scale,LO.PISA.REA,535.1002
...,...,...,...,...,...
85,Mexico,MEX,PISA: Mean performance on the science scale,LO.PISA.SCI,415.7099
86,Mexico,MEX,PISA: Mean performance on the mathematics scale,LO.PISA.MAT,408.0235
87,Brazil,BRA,PISA: Mean performance on the reading scale,LO.PISA.REA,407.3486
88,Brazil,BRA,PISA: Mean performance on the science scale,LO.PISA.SCI,400.6821
89,Brazil,BRA,PISA: Mean performance on the mathematics scale,LO.PISA.MAT,377.0695

In [20]:
# df3.to_csv("../data/df3.csv", index=False)